.popup-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(0,0,0,.7);
    &.active {
        display: block;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 3000;
        cursor: pointer;
    }

    .modal-content {
        display: none;
        &.active {
            display: block;
        }
    }
}

.contact {
    padding-top: 60px;
}

.alert {
    display: none;
    position: fixed;
    bottom: 40px;
    width: 100%;
    z-index: 1000;
    &.active {
        display: block;
    }
}

input[type="file"] {
    display: none;
}

#opinie-klientow-kotwica {
    .carousel-inner,
    .carousel-item {
        height: 150px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }
}

.carousel-indicators {
    li {
        background-color: #26313B;
    }
    .active {
        background: #007bff;
    }
}

#opinie-klientow-kotwica {
    .carousel-control-next,
    .carousel-control-prev {
        background-color: #007bff;
        width: 30px;
    }
}

@media(max-width: 900px) {
    #opinie-klientow-kotwica {
        .carousel-inner,
        .carousel-item {
            height: 250px;
        }
    }
}

@media(max-width: 500px) {
    #opinie-klientow-kotwica {
        .carousel-inner,
        .carousel-item {
            height: 300px;
        }
    }
}

#page-footer input[type="file"] {
    display: block;
}